// square

@mixin square($width, $height: $width) {
  width: $width;
  height: $height;
}



// circle

@mixin circle($width) {
  width: $width;
  height: $width;
  border-radius: $width / 2;
}



// triangle