// link-color

@mixin link-color($color: blue, $change: lighten($clr, 20%)) {
  color: $color;
  &:hover,
  &:active,
  &:focus {
    color: $change;
  }
}

// text-style

@mixin text-style($clr: blue, $fz: 1.25em, $fw: bold) {
  color: $clr;
  font-size: $fz;
  font-weight: $fw;
}

@mixin text-border($clr: #fff, $width: 2) {
  text-shadow: 0 2px 0 $clr, 2px 0 0 $clr, 0 -2px 0 $clr, -2px 0 0 $clr,
    -2px -2px 0 $clr, 2px -2px 0 $clr, -2px 2px 0 $clr, 2px 2px 0 $clr;
}

// 上付き文字

@mixin sup {
  font-size: 75.5%;
  vertical-align: top;
  position: relative;
  top: -0.1em;
}

// 下付き文字

@mixin sub {
  font-size: 75.5%;
  vertical-align: bottom;
  position: relative;
  top: 0.1em;
}

// ellipsis
@mixin ellipsis {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}

@mixin hide-text {
  overflow: hidden;
  text-indent: 101%;
  white-space: nowrap;
}

// @mixin font-face($font, $path, $type,) {

// }

// @include font-face(
//   "source-sans-pro",
//   "fonts/source-sans-pro-regular",
//   ("woff2", "woff")
// ) {
//   font-style: normal;
//   font-weight: 400;
// }

// // CSS Output
// @font-face {
//   font-family: "source-sans-pro";
//   src: url("fonts/source-sans-pro-regular.woff2") format("woff2"),
//        url("fonts/source-sans-pro-regular.woff") format("woff");
//   font-style: normal;
//   font-weight: 400;
// }
