@charset "utf-8";

@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin circle($width) {
  width: $width;
  height: $width;
  border-radius: $width / 2;
}


//
// metallic ratio
//

$retio-gold: 1.618;
$retio-silver: 1.414;
$retio-platinum: 1.732;
$retio-bronze: 3.303;


// 貴金属比
// width から
@mixin metallic-width($width, $retio:$retio-gold) {
  width: $width;
  height: round($width / $retio);
}

// height から
@mixin metallic-height($height, $retio:$retio-gold) {
  width: $round($height * $retio);
  height: $height;
}

@for $i from 1 through $boxes {
  $height: $base-width / $retio;
  .box-#{$i} {
    width: $base-width;
    height:$height;
  }
  $base-width: $height;
}

@function retio ($retio) {
  @return $width / $retio;
}
