@charset "utf-8";

//
// 汎用クラス生成スイッチ true で生成
//


$create-text-color:             false;    // color
$create-text-weight:            false;    // font-weight
$create-text-align:             false;    // text-align
$create-vertical-align:         false;    // vertical-align
$create-text-appearance:        false;    // appearance

$create-bg-color:               false;    // background-color

$create-display:                false;    // display
$create-float:                  false;    // float
$create-position:               false;    // position

$create-space:                  false;    // spacer
$create-grid-system:            false;    // grid system
