
// normalize
// ---------------------------------------------------

$font-family-sans-serif:      -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;

$font-family-base:            $font-family-sans-serif !default;
$font-size-base:              1rem !default;
$font-weight-base:            normal;
$line-height-base:            1.5 !default;
$body-bg:                     $white !default;
$body-color:                  $gray-900 !default;

// typograophy
$headings-margin-bottom:    $font-size-base;
$paragraph-margin-bottom:   $font-size-base;
$address-margin-bottom:     $font-size-base;
$lists-margin-bottom:       $font-size-base;
$dt-font-weight:            bold;
$dd-margin-bottom:          $font-size-base / 2;
$blockquote-margin-bottom:  $font-size-base;

@mixin hover {
  &:hover { @content; }
}
@mixin hover-focus {
  &:hover,
  &:focus {
    @content;
  }
}
@mixin plain-hover-focus {
  &,
  &:hover,
  &:focus {
    @content;
  }
}
@mixin hover-focus-active {
  &:hover,
  &:focus,
  &:active {
    @content;
  }
}
$link-color:                $primary !default;
$link-decoration:           none !default;
$link-hover-color:          darken($link-color, 15%) !default;
$link-hover-decoration:     underline !default;

// table
$table-caption-color:         $gray-600 !default;
$table-cell-padding:          .75rem !default;

// image
$figure-margin-bottom:       $font-size-base;

// form
$label-margin-bottom:         .5rem !default;




$vendor-identifier-list: -moz-, -webkit-;
$im: !important;



// grid system
// ---------------------------------------------------

// grid

$base-width: 1280px;
$grid-gutter-width: 30px;
$grid-columns: 12;
$container-width: (
  "sm": 540px,
  "md": 720px,
  "lg": 960px,
  "xl": 1140px
);

// spacer

$infix-margin: m;
$infix-padding: p;
$infix-top: t-;
$infix-bottom: b-;
$infix-right: r-;
$infix-left: l-;
$spacing-has-important: " !important";
$endValue: 10 !default;



// helper classes
// ---------------------------------------------------

// inline

$font-weight: (
  normal: normal,
  bold: bold,
  thin: thin
) !default;

$text-align: (
  left: left,
  center: center,
  right: right,
  justify: justify
) !default;

$vertical-align: (
  baseline: baseline,
  top: top,
  middle: middle,
  bottom: bottom,
  textTop: text-top,
  textBottom: text-bottom,
  super: super,
  sub: sub
) !default;

// box property
$position-list: (
  fixed: fixed,
  relative: relative,
  absolute: absolute,
  none: none
) !default;

$float-list: (
  left: left,
  right: right,
  none: none
) !default;

$display-list: (
  inline: inline,
  block: block,
  inline-block: inline-block,
  none: none,
  flex: flex,
  inline-flex: inline-flex
) !default;

// flexbox

$order-end-value: 4;
$grow-end-value: 4;
$shrink-end-value: 4;

// 親要素に指定

// flex子要素の配置方向
$flex-direction: (
  row: row,   // 初期値。左から右
  row-reverse: row-reverse,    // 右から左
  column :column,    //上から下
  column-reverse: column-reverse    //下から上
);

// 子要素の折返し
$flex-wrap: (
  nowrap: nowrap,   // 初期値。折返しなし
  wrap: wrap,    // 上から下に折返し
  wrap-reverse: wrap-reverse   // 下から上に折返し
);

// 親要素の空きスペースに対する水平方向揃え
$justify-content: (
  flex-start: flex-start,   // 初期値。左揃え
  flex-end :flex-end,   // 右揃え
  center :center,   // 中央揃え
  space-between :space-between,   // 両端揃え
  space-around: space-around   // 均等割付
);
//------------------------------------------------------------------//
//「flex-start」と「flex-end」はRTL（Right To Left ＝ 右から左）
// のときは逆向きに配置される
//------------------------------------------------------------------//

// 親要素の空きスペースに対する垂直方向揃え
$align-items: (
  stretch: stretch,   // 初期値。親要素または子要素最大の高さに合わせて拡張（スペースを埋める）
  flex-start: flex-start,   // 上揃え
  flex-end :flex-end,   // 下揃え
  center :center,     // 中央揃え
  baseline :baseline    // ベースラインに揃える
);

// 複数行になったときの揃え
$align-content: (
  stretch: stretch,   // 初期値。親要素の高さに合わせて拡張
  flex-start: flex-start,   // 初期値。上揃え
  flex-end :flex-end,   // 下揃え
  center :center,   // 中央揃え
  space-between :space-between,   // 上下両端揃え
  space-around: space-around   // 上下均等割付
);
//------------------------------------------------------------------//
//「flex-wrap: nowrap;」の指定があるときは無効
//------------------------------------------------------------------//

//
$align-self: (
  auto: auto,   // 初期値。親要素のalign-items の値を継承
  stretch: stretch,   // 親要素または子要素最大の高さに合わせて拡張（スペースを埋める）
  flex-start: flex-start,   // 上揃え
  flex-end :flex-end,   // 下揃え
  center :center,     // 中央揃え
  baseline :baseline    // ベースラインに揃える
);
