// ベース
@mixin btn-block {
  display: inline-block;
  padding: 1em 2em;
  text-align: center;
  a {
    display: block;
  }
}

// サイズ拡張
@mixin btn-mod-size {
  &-full {
   width: 100%;
  }
  &-small {
   width: 100%;
  }
  &-large {
   width: 100%;
  }

}

// ボタンリセット
@mixin btn-reset {
  border: 0;
  padding: 0;
  margin: 0;
  background: transparent none;
  font-size: inherit;
  @each $list in $vendor-identifier-list {
    #{$list}appearance: none;
  }
  appearance: none;
}
