// media module

// base
@mixin media-block ($gutter:null) {
    @include clearfix;
    &_img {
        float: left;
        margin-right: $gutter;
    }
    &_body {
        overflow: hidden;
    }
}

// modifier
// img右揃え
@mixin media-img-right ($gutter:null) {
    float: right;
    margin-right: 0;
    margin-left: $gutter;
}
